<h1><%=@pet.name%></h1>
<a href= "/pets/<%=params[:id]%>/edit">Edit Pet</a>
<a href="/pets/<%= @pet.id %>" data-turbo-method="delete">Delete Pet</a>
<p>Species: <%=@pet.species%></p>
<p>Breed: <%=@pet.breed%></p>
<img src="<%=@pet.image%>">
